In [2]:
import pandas as pd
import os
from pandas_analysis import load_all_csv

data = load_all_csv()

In [3]:
data

,flight_id,flightnumber,departure_date,arrival_date,departure_time,arrival_time,duration,number_of_stops,airline_iata_code,departure_airport_iata_code,arrival_airport_iata_code,scrape_date,available_seats,price
0,FR_CRL_AGP_2023-04-30_FR1916,FR1916,2023-04-30,2023-04-30,21:30,00:15,02:45,0,FR,CRL,AGP,2023-04-29,1,389.22
1,FR_CRL_CFU_2023-04-30_FR6251,FR6251,2023-04-30,2023-04-30,17:00,20:40,02:40,0,FR,CRL,CFU,2023-04-29,3,299.22
2,FR_CRL_BDS_2023-04-30_FR7737,FR7737,2023-04-30,2023-04-30,17:30,19:55,02:25,0,FR,CRL,BDS,2023-04-29,4,353.42
3,FR_CRL_NAP_2023-04-30_FR1302,FR1302,2023-04-30,2023-04-30,09:45,12:00,02:15,0,FR,CRL,NAP,2023-04-29,1,230.00
4,FR_CRL_ALC_2023-04-30_FR3534,FR3534,2023-04-30,2023-04-30,09:55,12:20,02:25,0,FR,CRL,ALC,2023-04-29,1,398.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134875,TB_ANR_TFS_2023-10-02_TB1821,TB1821,2023-10-02,2023-10-02,12:40,16:40,05:00,0,TB,ANR,TFS,2023-05-01,-1,269.99
134876,TB_BRU_TFS_2023-10-03_TB1753,TB1753,2023-10-03,2023-10-03,06:05,10:05,05:00,0,TB,BRU,TFS,2023-05-01,-1,224.99
134877,TB_LGG_TFS_2023-10-04_TB1791,TB1791,2023-10-04,2023-10-04,12:30,16:30,05:00,0,TB,LGG,TFS,2023-05-01,-1,189.99
134878,TB_OST_TFS_2023-10-04_TB1811,TB1811,2023-10-04,2023-10-04,13:10,17:10,05:00,0,TB,OST,TFS,2023-05-01,-1,249.99
134879,TB_BRU_TFS_2023-10-04_TB1751,TB1751,2023-10-04,2023-10-04,14:05,18:05,05:00,0,TB,BRU,TFS,2023-05-01,-1,204.99